{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="https://openref.ru/link/VantusJS.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body id="body">
    {% include 'base/header.html' %}
    <section>
        {% include 'base/aside.html' %}

        {% block article %}
        {% endblock article %}

        <main>
            {% block main %}
            {% endblock main %}
        </main>
    </section>
    {% block bodydown %}
    {% endblock bodydown %}
</body>

<script src="https://openref.ru/link/VantusJS.min.js"></script>

{% block script %}
{% endblock script %}

<script>
    V('header, section, .flow-window').event({
        events: ['mousewheel'],
        funcs: [
            function(e) {
                if(e.ctrlKey)
                    e.preventDefault();
            }
        ]
    });

    V('.header-items-text').event({
        events: ['focus', 'blur'],
        funcs: [
            function(){
                V(this).parent().children('.header-items-menu').show({
                    speed: 150
                });
            },
            function(){
                V(this).parent().children('.header-items-menu').hide({
                    speed: 150
                });
            },
        ]
    });

    V('.header-items-menu').event({
        events: ['mousedown'],
        funcs: [
            function(e){
                e.preventDefault();
            },
        ]
    });


</script>

</html>