*{
    margin: 0;
    padding: 0;
    font-family: consolas, 'Courier New', monospace;
}

html, body{
    --item-active: 5%;
    --heder-height: 45px;
    height: 100%;
    background-color: #1e1e1e;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--heder-height);
    box-sizing: border-box;
}

.header-theme{
    background-color: #3C3C3C;
}

.header-settings{
    height: 100%;
    display: flex;
}

.header-items{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.header-logo{
    box-sizing: border-box;
    margin: 5px 10px;
    height: calc(100% - 10px);
}

.header-items-text{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    user-select: none;
}

.header-items-text-theme{
    color: #c0c0c0;
}

.header-items-text-theme:hover{
    background-color: #505050;
}

.header-items-text-theme:focus{
    background-color: #505050;
    outline: none;
    border: none;
}
/* 
.header-items-text-theme:focus + .header-items-menu{
    display: block;
} */

.header-items-menu{
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    padding: 5px 0;
}

.header-items-menu-theme{
    background-color: #252526;
    box-shadow: 0 2px 3px 0.4px black;
}

.header-items-menu-items{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 2px 20px;
    color: #c0c0c0;
}
.header-items-menu-items > *{
    white-space: nowrap;
}

.header-items-menu-items:hover{
    background-color: #094771;
}

.header-items-menu-items-key{
    margin-left: 20px;
}

.header-window-theme{
    outline: none;
    border: none;
    color: #c0c0c0;
    padding: 0 25px;
}

.window-close:hover{
    background-color: #d71526;
    color: #fff;
}

.window-settings{
    display: flex;
    flex-direction: row;
}

.fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
}

.orinalsize{
    width: 55%;
    height: 55%;
    border: 1px solid #fff;
}
.roll_up{
    width: 12px;
    background-color: #fff;
    height: 2px;
}

section{
    display: flex;
    --item-size: 70px;
    width: 100%;
    height: calc(100% - var(--heder-height));
}

aside{
    width: var(--item-size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-theme{
    background-color: #333333;
}

.nav-items {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--item-size);
    height: var(--item-size);
}

.nav-item-theme{
    background-color: #c1c1c1;
}

.nav-items:hover .nav-item-theme{
    background-color: #fff;
}

.nav-item-active{
    width: var(--item-active);
    height: 100%;
}

.nav-item-active-theme{
    background-color: #fff;
}

.nav-items-item{
    padding: 18px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - var(--item-active));
}

.nav-item{
    width: 100%;
    height: 100%;
}

.nav-item-main{
    clip-path: polygon(100% 70%, 50% 0, 0 70%, 0 100%, 35% 100%, 35% 70%, 65% 70%, 65% 100%, 100% 100%);
}

.nav-item-post{
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    clip-path: polygon(100% 0, 100% 75%, 75% 100%, 0 100%, 0 0);
}

.nav-item-post:before,
.nav-item-post:after,
.nav-item-post > .posts{
    content: '';
    display: block;
    height: 10%;
    border-radius: 5px;
    background-color: rgb(170, 0, 0);
}

.nav-items:hover .nav-item-post:before,
.nav-items:hover .nav-item-post:after,
.nav-items:hover .nav-item-post > .posts{
    background-color: #999999;
}

.nav-item-post:before{
    width: 100%;
}

.nav-item-post:after{
    width: 70%;
}

.nav-item-post > .posts{
    width: 85%;
}

.nav-item-settings{
    border-radius: 50%;
}

.nav-item-user{
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #858585;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.nav-items:hover .nav-item-user,
.nav-items:hover .nav-item-user:after,
.nav-items:hover .nav-item-user:before,
.nav-item-user.nav-item-active-theme,
.nav-item-user.nav-item-active-theme:after,
.nav-item-user.nav-item-active-theme:before{
    background-color: transparent;
    border-color: #fff;
}

.nav-item-user:after{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid #858585;
}

.nav-item-user:before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 2px solid #858585;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
}

article{
    flex: 1 1 500px;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    background-color: #252526;
}

.article-info{
    padding: 0 15px 13px 15px;
    display: grid;
    height: 60px;
    grid-template-rows: 1fr 0.55fr;
}

.article-title{
    display: grid;
    grid-template-columns: 1fr 35px;
    box-sizing: border-box;
    align-items: center;
}

.article-title-text{
    text-transform: uppercase;
    color: #bbbbbb;
}

.article-title-settings{
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
    height: 100%;
}

.article-title-settings-add{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.article-title-settings-add:hover{
    transform: rotateZ(90deg);
    transition: all 0.5s ease-in-out;
    background-color: #505050;
}

.article-title-settings-add::before{
    content: '';
    display: block;
    width: 40%;
    height: 5%;
    background-color: #cccccc;
    position: absolute;
}

.article-title-settings-add::after{
    content: '';
    display: block;
    width: 40%;
    height: 5%;
    background-color: #cccccc;
    position: absolute;
    transform: rotateZ(90deg);
}

.article-search{
    display: flex;
    align-items: center;
}

.inputvs{
    width: 100%;
    background-color: #3c3c3c;
    border: none;
    color: #fff;
    padding: 2px 5px;
    box-sizing: border-box;
    transition: box-shadow 0.25s ease-in-out;
}

.inputvs:focus{
    box-shadow: 0 0 0 0.5px #0574be;
    outline: none;
    /* outline: 1px solid #0574be; */
}

.article-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.article-content-category{
    user-select: none;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #474747;
    display: grid;
    grid-template-columns: 30px 1fr 40px;
}

.article-content-category:focus{
    outline: 1px solid #0574be;
}

.toggle-category{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #acc7cc;
}

.toggle-category-open{
    transform: rotateZ(90deg);
}

.name-category{
    display: flex;
    align-items: center;
    color: #acc7cc;
}

.count-in-category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
}

.count-in-category > .count{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #acc7cc;
    background-color: #4d4d4d;
    width: 90%;
    height: 75%;
    border-radius: 50px;
}

.article-content-category-list{
    width: 100%;
    height: 100%;
    position: relative;
    padding-right: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    border: none;
    outline: none;
}

.article-content-category-list-active{
    outline: 1px solid #0574be;
}

.post{
    --post-height: 75px;
    height: var(--post-height);
    width: 100%;
    cursor: pointer;
    display: grid;
    grid-template-columns: var(--post-height) 1fr;
    box-sizing: border-box;
}

.post-theme-active{
    background-color: #094771;
}

.post-theme:hover{
    background-color: #37373d;
}

.post-img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-source-img{
    width: 70%;
    height: 70%;
    /* border-radius: 50%; */
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post-about{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5%;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    /* justify-content: space-evenly; */
}

/* .post-title,
.post-intro,
.post-users-and-settings{
    width: 100%;
    height: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.post-intro,
.post-user-create{
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-title, .post-title-text-data{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
    width: 100%;
}

.post-title-text-data > *{
}

.post-users-and-settings,
.post-intro,
.post-statistic{
    color: #ccbf9c;
    font-size: 15px;
}

.post-users-and-settings{
    display: grid;
    --h-w-settings: 20.7px;
    grid-template-columns: 1fr minmax(0 , auto) auto;
    grid-column-gap: 10px;
}

.post-settings{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 2px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.post-delete, .post-confirm, .post-hide{
    position: relative;
    width: var(--h-w-settings);
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #72767d;
}

.post-delete:hover{
    background-color: #f00;
}


.post-delete:after,
.post-delete:before{
    content: '';
    display: block;
    width: 50%;
    height: 10%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.post-delete:before{
    transform: rotateZ(-45deg);
}
.post-delete:after{
    transform: rotateZ(45deg);
} 

.post-confirm:hover{
    background-color: rgb(0, 143, 0);
}

.post-confirm:before{
    content: '';
    display: block;
    width: 50%;
    height: 10%;
    background-color: #fff;
    position: absolute;
    bottom: 10%;
    /* top: 0; */
    left: 30%;
    /* right: 0; */
    /* margin: auto; */
    transform: rotateZ(45deg) translateX(-50%);
}

.post-confirm:after{
    content: '';
    display: block;
    width: 63%;
    height: 10%;
    background-color: #fff;
    position: absolute;
    bottom: 70%;
    /* top: 0; */
    left: 50%;
    /* right: 0; */
    /* margin: auto; */
    transform: rotateZ(-65deg) translate(-50%,-50%);
}

.post-hide{
    transform: rotateZ(180deg);
}

.post-hide:hover{
    background-color: rgb(58, 60, 216);
}

.post-hide:before{
    content: '';
    display: block;
    width: 50%;
    height: 10%;
    background-color: #fff;
    position: absolute;
    bottom: 10%;
    /* top: 0; */
    left: 30%;
    /* right: 0; */
    /* margin: auto; */
    transform: rotateZ(45deg) translateX(-50%);
}

.post-hide:after{
    content: '';
    display: block;
    width: 63%;
    height: 10%;
    background-color: #fff;
    position: absolute;
    bottom: 70%;
    /* top: 0; */
    left: 50%;
    /* right: 0; */
    /* margin: auto; */
    transform: rotateZ(-65deg) translate(-50%,-50%);
}

.post-title-text{
    color: #fff;
    font-size: 16.5px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-data{
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #ccbf9c;
    font-size: 11px;
}

.post-statistic{
    font-size: 15px;
}

main{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.blog-post{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    height: 100%;
    display: grid;
    /* --tabs-height: 50px;  */
    --tabs-height: 40px;
    grid-template-rows: var(--tabs-height) 20px 1fr;
}

.main-active-tabs{
    background-color: #252526;
    display: flex;
}

.main-active-path{
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    box-shadow: 0px 2px 2px 0px black;
}

.node{
    cursor: pointer;
    opacity: 0.6;
}

.node:hover{
    text-decoration: underline;
    font-weight: bold;
    opacity: 0.8;
}

.next-node{
    margin: 0 5px;
}

@keyframes windoShow{
    0%{
        bottom: -50%;
        top: -50%;
    }
    100%{
        bottom: 50%;
        top: 50%;
    }
}

.flow-window{
    overflow: auto;
    padding: 100px 50px;
    box-sizing: border-box;
    display: none;
    animation: windoShow 0.5s ease-out;
    background-color: #2e2c2c;
    width: 90%;
    height: 90%;
    position: absolute;
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 3px 3px 10px 1px black;
}

.flow-window-close{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #72767d;
    border-radius: 50%;
}

.flow-window-close:hover{
    background-color: #484c52;
}

.flow-window-close:after,
.flow-window-close:before{
    content: '';
    display: block;
    width: 50%;
    height: 5%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flow-window-close:after{
    transform: rotateZ(45deg);
}

.flow-window-close:before{
    transform: rotateZ(-45deg);
}

.main-active-tab{
    display: grid;
    grid-template-columns: calc(var(--tabs-height) / 2) auto calc(var(--tabs-height) / 2);
    height: 100%;
    grid-column-gap: 5px;
    cursor: pointer;
}

.main-active-tab:hover 
.main-active-tab-close::before,
.main-active-tab:hover 
.main-active-tab-close::after{
    display: block;
}

.main-active-tab-theme{
    background-color: #2d2d2d;
    color: #949494;
}

.main-active-tab-theme-active{
    background-color: #1e1e1e;
    color: #fff;
}

.main-active-tab-close-wrap{
    display: flex;
    align-items: center;
}

.main-active-tab-close{
    opacity: 0.2;
    transition: all 0.3 ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.main-active-tab-close:hover{
    opacity: 1;
}

.main-active-tab-name{
    display: flex;
    align-items: center;
}

.main-active-tab-close::before,
.main-active-tab-close::after{
    position: absolute;
    content: '';
    display: none;
    width: 75%;
    height: 10%;
    background-color: #636363;
}

.main-active-tab-close::before{
    transform: rotateZ(45deg);
}

.main-active-tab-close::after{
    transform: rotateZ(-45deg);
}

main > h1{
    text-align: center;
    color: #fff;
}

.main-post{
    display: none;
    /* grid-template-rows: minmax(300px, auto) 1fr; */
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.main-post-content{
    overflow: auto;
    height: 100%;
}

.main-post-active{
    display: flex;
}

.main-post-title-toggle-show{
    margin: 6px;
    box-sizing: border-box;
    width: 50px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-post-title-toggle-show > div{
    user-select: none;
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: rotateZ(-90deg);
}

.main-post-title-toggle-show-active > div{
    transform: rotateZ(90deg);
}

.main-post-title-toggle-show:hover{
    background-color: #505050;
    opacity: 0.5;
}

.main-post-info{
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    border-bottom: 1px solid #4d4d4d;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 50px; */
}

.main-post-about{
    height: 250px;
    box-sizing: border-box;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 220px 1fr;
    color: #cccccc;
}

.main-post-about-img{
    background-size: cover;
    background-position: center;
    height: 220px;
    width: 100%;
}

.main-post-description{
    padding: 5px 20px;
    display: grid;
    grid-row-gap: 10px;
}

.main-post-title{
    display: flex;
    align-items: center;
}

.main-post-title-text{
    font-size: 35px;
}

.main-post-statistic{
    display: flex;
}

.main-post-statistic-div,
.main-post-statistic-container{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.main-post-statistic-div::before{
    margin: 0 15px;
    content: '';
    display: block;
    width: 2px;
    height: 70%;
    background-color: #636363;
}

.main-post-intro{
    
}
.main-post-like{
    
}

.main-post-source-tabs{
    color: #cccccc;
    display: flex;
    height: 100%;
    display: flex;
    height: 40px;
}

.main-post-tab{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 5px;
    grid-column-gap: 10px;
}

.main-post-tab-settings{
    display: none;
    white-space: nowrap;
    align-items: center;
    text-transform: capitalize;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 5px;
}

.post-type{    
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 4px 0px black inset;
}

.post-type-active, .post-type:hover{
    box-shadow: 0 0 12px 0px black inset;
}

.article-text-editor{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: auto;
}

.blocks-with-content{
    /* background-color: #fff; */
}

.add-block{
    display: flex;
    position: relative;
    background-color: #131313;
    --height-add-block: 30px;
    height: var(--height-add-block);
    padding: 5px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
}
.add-block:hover{
    opacity: 1;
}

.add-block:before,
.add-block:after{
    content: '';
    display: block;
    position: absolute;
    width: calc(var(--height-add-block) / 3);
    height: var(--height-add-block);
    background-color: #3c3c3c;
}

.add-block:after{
    transform: rotateZ(90deg);
}

.article-html-editor{
    background-color: #0f0;
    height: 100%;
}

.article-json-editor{
    background-color: #00f;
    height: 100%;
}

.main-post-tab-title{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    user-select: none;
}

.main-post-tab-title:hover{
    text-decoration: underline;
}

.main-post-tab-title-active{
    font-weight: bold;
    text-decoration: underline;
}

.post-tab-content{
    color: #fff;
    overflow: auto;
}

.post-tab-content-actve{
    display: block !important;
}

.post-tab-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
}

/*.post-tab-content-1{
    display: grid;
    grid-template-rows: 10px 1fr;
}

.post-tab-content-2{
    background-color: rgb(0, 139, 0);
}

.post-tab-content-3{
    background-color: rgb(0, 0, 139);
} */

.newdata{
    color: #fff;
    margin: 5px;
}

.lnewdata{
    display: block;
    margin-bottom: 10px;
}

.userforms{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputform{
    width: 360px;
    background-color: #333333;
    padding: 20px;
    box-sizing: border-box;
}

.input-text{
    text-align: center;
    color: #c0c0c0;
}

.formsubmit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authandreg{
    color: #fff;
    font-size: 14px;
}

.goformsubmit{    
    padding: 3px 7px;
    background-color: #D32F2F;
    color: #fff;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px inset black;
}

.goformsubmit:focus{
    box-shadow: 0px 0px 20px 4px inset black;
}

.newpost{
    display: grid;
    --image-size: 300px;
    grid-template-columns: var(--image-size) 1fr;
    grid-column-gap: 20px;
}

.loadimg{
    width: var(--image-size);
    height: var(--image-size);
    background-color: #fff;
    cursor: pointer;
    position: relative;
    display: flex;
    margin: 0;
}

.inputloadimg{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.viewloadimg{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-info{
    /* height: 500px; */
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.user-image{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.user-image > img{
    width: 100%;
}

.user-data{
    color: #fff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.user-who{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2px;
}

.user-name{
    font-size: 19px;
}

.user-online{
    font-size: 13px;
}

.user-status{
    width: 100%;
    padding: 3px;
    cursor: pointer;
}

.user-status-theme:hover{
    background-color: #3C3C3C;
}

.user-status-text{
    height: 100%;
    display: block;
    width: 100%;
}

.user-dict{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 3px;
}

.user-dict-key{
    opacity: 0.5;
}

.user-hr{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
}

.user-hr:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(100, 100, 100);
}

.user-roles{
    display: none;
}

.user-role{
    padding-left: 30px;
}

.more-roles{
    cursor: pointer;
}

.user-change-pass{
    color: #fff;
    opacity: 0.8;
}

.user-change-pass:hover{
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.user-own{
    width: 100%;
    height: 50px;
    display: flex;
}

.user-own-block{
    text-decoration: none;
    color: #fff;
    width: 100px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    cursor: pointer;
}

.user-own-block-count{
    color: rgb(75, 75, 255);
    text-shadow: 3px -2px 3px black;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: text-shadow 0.2s ease-in;
}

.user-own-block:hover .user-own-block-count{
    text-shadow: 4px -4px 3px black;
}

.user-own-block-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-settings{
    width: 100%;
    height: 500px;
    background-color: rgb(158, 0, 0);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

.scroll{
    width: 20px;
    height: 100%;
    background-color: #555;
    right: 0;
    position: absolute;
    transition: opacity 0.5s;
    opacity: 0;
}

.scroll:hover{
    opacity: 1;
}

.roles_and_roots{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.roles{
    overflow: auto;
    display: grid;
    --roles-add-height: 30px;
    grid-template-rows: var(--roles-add-height) auto 1fr;
    box-sizing: border-box;
    padding: 25px;
    color: #fff;
}

.role_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.role_btn_add{
    width: calc(var(--roles-add-height) / 2);
    height: 50%;
    border: 1px solid rgb(85, 74, 74);
    border-radius: 50%;
    position: relative;
}

.role_add:hover .role_btn_add{
    background-color: #505050;
}

.role_btn_add:after,
.role_btn_add:before{
    position: absolute;
    content: '';
    display: block;
    height: 5%;
    width: 60%;
    background-color: rgb(150, 150, 150);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.role_btn_add:after{
    transform: rotateZ(90deg);
}

.role_list{
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    grid-auto-rows: 30px;
    grid-row-gap: 10px;
}

.role{
    background-color: #3c3c3c;
    padding: 2px 7px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 25px;
    cursor: pointer;
    opacity: 0.5;
}

.role-delete{
    padding: 3px;
}

.role:hover, .role-active{
    opacity: 1;
}

.role-name{
    display: flex;
    align-items: center;
    /* mix-blend-mode: difference; */
}

#roots-reset{
    display: none;
}

.role-settings{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    position: relative;
}

.role-settings-points,
.role-settings:after,
.role-settings:before{
    mix-blend-mode: difference;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #b9bbbe;
}

.role-settings:focus{
    border: none;
    outline: none;
}

.role-settings-window{
    position: absolute;
    top: 50%;
    left: 130%;
    z-index: 5;
    display: none;
}

.roots{
    padding: 25px;
    box-sizing: border-box;
    color: #fff;
    overflow: auto;
}

.user-root-hr{
    width: 100%;
    height: 1px;
    background-color: #42454a;
    margin: 10px 0;
    opacity: 0.8;
}

.category-root{
    font-size: 9px;
    opacity: 0.5;
    text-transform: uppercase;
}

.input-big{
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0;
}

.checkbox-root{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.checkbox-root:hover{
    text-decoration: underline;
    font-weight: bold;
}

.checkbox-root-content{
    margin-top: 8px;
}

.checkbox-root-btn{
    padding: 2px;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    background-color: #72767d;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 15px 1px inset black;
}

.checkbox-root-flow-btn{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 0;
    transition: all 0.25s ease-in-out;
}

.checkbox-input{
    display: none;
}

.checkbox-input:checked ~ .checkbox-root-flow-btn{
    left: 50%;
    background-color: rgb(0, 150, 0);
}

.checkbox-root-name{
    font-size: 10px;
    display: flex;
    align-items: center;
}

.checkbox-root-description{
    font-size: 8px;
    opacity: 0.6;
}

.role-colors{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;
    margin: 10px 0;
    height: 30px;
}

.role-colors-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
}

.input-color{
    display: block;
    position: relative;
}

.input-color input{
    position: absolute;
    top: 0;
    opacity: 0;
}

.input-color-fake{
    width: 50px;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #555;
}

.role-colors-default{
    display: grid;
    grid-template-rows: repeat(2, 45%);
    grid-column-gap: 5px;
    grid-row-gap: 10%;
    grid-template-columns: repeat(auto-fit, 15px);
    box-sizing: border-box;
}

.role-color-default{
    background-color: #fff;
    border-radius: 4px;
}

@keyframes show_save_and_reset{
    0%{
        bottom: -10%;
    }
}

@keyframes hide_save_and_reset{
    100%{
        bottom: -20%;
    }
}

.save-and-reset-show{
    animation: show_save_and_reset 0.55s ease;
}

.save-and-reset-hide{
    animation: hide_save_and_reset 0.55s ease;
}

.save-and-reset{
    position: absolute;
    width: 50%;
    height: 40px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222527;
    opacity: 0.9;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.save-and-reset-btns{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    height: 100%;
}

.save-and-reset-btn-1{
    cursor: pointer;
}

.save-and-reset-btn-1:hover{
    text-decoration: underline;
}

.save-and-reset-btn-2{
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    background-color: #286b4c;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border: none;
    outline: none;
}

.save-and-reset-btn-2:active{
    background-color: #1b4934;
}

.save-and-reset-text{
    margin-left: 5px;
}

.images{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.gallery{
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    /* background-color: rgb(134, 29, 29); */
    width: 100%;
    height: 100%;    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
    grid-auto-rows: 200px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.gallery-image{
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.gallery-image:hover{
    opacity: 0.6;
}