{% extends 'base/main.html' %}

{% block article %}
    {% load static %}
    <article>
        <div class="article-info">
            <div class="article-title">
                <div class="article-title-text">
                    посты
                </div>
                <div class="article-title-settings">
                    <div class="article-title-settings-add">

                    </div>
                </div>
            </div>
            <div class="article-search">
                <input style="height: 100%;" class="inputvs" placeholder="Поиск по статьям" type="text">
            </div>
        </div>
        <div class="article-content">
            <div tabindex="1" class="article-content-category">
                <div class="toggle-category toggle-category-open">
                    >
                </div>
                <div class="name-category">
                    Все
                </div>
                <div class="count-in-category">
                    <div class="count">
                        {{ postspublic.count }}
                    </div>
                </div>
            </div>
            <div data-public="all" data-path="<div data-tree-id='None' class='node'>main</div>" class="article-content-category-list-active article-content-category-list">
                {% comment %} <div class="scroll"></div> {% endcomment %}
                {% for post in postspublic %}
                    <div data-type-post="{{ post.type }}" data-id-post="{{ post.id }}" data-art='post-{{ post.id }}' class="post post-theme">
                        <div class="post-img">
                            <div style="background-image: url({{post.img.url}});" class="post-source-img"></div>
                        </div>
                        <div class="post-about">
                            <div class="post-title">
                                <div class="post-title-text">
                                    {{ post.title }}
                                </div>
                                <div class="post-statistic">
                                    <div class="post-view">
                                        {{ post.getPricedir|floatformat }}
                                    </div>
                                </div>
                            </div>
                            <div class="post-intro">
                                {{post.intro}}
                            </div>
                            <div class="post-users-and-settings">
                                <div class="post-user-create">{{post.user}}</div>
                                <div class="post-data">
                                    {{ post.data }}
                                </div>
                                <div class="post-settings">
                                    {% if post.public == True %}
                                        <div class="post-hide">
                                            
                                        </div>
                                    {% else %}
                                        <div class="post-confirm">
                                            
                                        </div>
                                    {% endif %}
                                    <div class="post-delete">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div tabindex="1" class="article-content-category">
                <div class="toggle-category">
                    >
                </div>
                <div class="name-category">
                    Ваши / Не опубликованные
                </div>
                <div class="count-in-category">
                    <div class="count">
                        {{ yourposts.count }}
                    </div>
                </div>
            </div>
            <div data-public="login" data-path="<div data-tree-id='None' class='node'>main</div>" style="display: none;" class="article-content-category-list">
                {% for post in yourposts %}
                    <div data-type-post="{{ post.type }}" data-id-post="{{ post.id }}" data-art='post-{{ post.id }}' class="post post-theme">
                        <div class="post-img">
                            <div style="background-image: url({{post.img.url}});" class="post-source-img"></div>
                        </div>
                        <div class="post-about">
                            <div class="post-title">
                                <div class="post-title-text">
                                    {{ post.title }}
                                </div>
                                <div class="post-statistic">
                                    <div class="post-view">
                                        3.6M
                                    </div>
                                </div>
                            </div>
                            <div class="post-intro">
                                {{post.intro}}
                            </div>
                            <div class="post-users-and-settings">
                                <div class="post-user-create">{{post.user}}</div>
                                <div class="post-data">
                                    {{ post.data }}
                                </div>
                                <div class="post-settings">
                                    {% if post.public == True %}
                                        <div class="post-hide">
                                            
                                        </div>
                                    {% else %}
                                        <div class="post-confirm">
                                            
                                        </div>
                                    {% endif %}
                                    <div class="post-delete">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock article %}

{% block main %}
    <div tabindex="10" class="blog-post">
        <div class="main-active-tabs"></div>
        <div class="main-active-path">
            <div data-tree-id="None" class="node">main</div>
            {% comment %} <div class="next-node">></div> {% endcomment %}
        </div>
    </div>
{% endblock main %}

{% block bodydown %}
    <div class="flow-window">
        <div class="flow-window-close"></div>
        <div class="newpost">
            <label class="loadimg lnewdata">
                <div id="newimagepost" style="background-image: url({% static 'image/1.jpg' %});" class="viewloadimg"></div>
                <input id="postimg" onchange="viewimage(this);" class="inputloadimg" accept="image/*" type="file">
            </label>
            <div class="newpostabout">
                <label class="lnewdata">
                    <p class="newdata">Введите название статьи</p>
                    <input id="posttitle" style="font-size: 22px;" class="inputvs" placeholder="Название" type="text">
                </label>
                <label class="lnewdata">
                    <p class="newdata">Введите описание статьи</p>
                    <input id="postintro" style="font-size: 22px;" class="inputvs" placeholder="Название" type="text">
                </label>
                <label class="lnewdata">
                    <p class="newdata">Тип</p>
                    <select id="posttype">
                        <option>Папка</option>
                        <option>Файл</option>
                    </select>
                </label>
                <button class="goformsubmit submitpost">Создать</button>
            </div>
        </div>
    </div>
{% endblock bodydown %}

{% block script %}
    <script>        

        let main_tab = new VElement(
            `<div data-post-art-tab="{post}" class="main-active-tab main-active-tab-theme">
                <div class="main-active-tab-icon"></div>
                <div class="main-active-tab-name">{title}</div>
                <div class="main-active-tab-close-wrap"><div class="main-active-tab-close"></div></div>
            </div>`
        );

        let main_tab_content = new VElement(
            `<div data-post-art-tab-content='{post}' class='main-post'>
                <div class='main-post-info'>
                    <div class='main-post-about'>
                        <div>
                            <label class="loadimg lnewdata">
                                <div style='background-image: {img};' class='main-post-about-img'></div>
                                {changeImg}
                            </label>
                        </div>
                        <div class='main-post-description'>
                            <div class='main-post-title'>
                                {changing}
                                <input style="display: none;" placeholder="Статус" class="inputvs" type="text">
                                <div>{title}</div>
                            </div>
                            <div class='main-post-price'>
                                {changing}
                                Стоимость: 
                                <input style="display: none;" placeholder="Статус" class="inputvs" type="text">
                                <div style='margin-left: 5px;'>{price}</div>
                            </div>
                            <div class='main-post-statistic'>
                                <div class='main-post-statistic-container'>
                                    {user}
                                </div>
                                <div class='main-post-statistic-div'></div>
                                <div class='main-post-statistic-container'>
                                    3 601 928
                                </div>
                            </div>
                            <div class='main-post-intro'>
                                {changing}
                                <input style="display: none;" placeholder="Статус" class="inputvs" type="text">
                                <div>{intro}</div>
                            </div>
                            <div class='main-post-like'>
                                Лайки и репосты
                            </div>
                        </div>
                    </div>
                    <div class='main-post-source'>
                        <div class='main-post-source-tabs'>
                            <div class='main-post-title-toggle-show'><div>></div></div>
                            <div class='main-post-tab'>
                                <div data-num="0" class="main-post-tab-title main-post-tab-title-active">Содержание</div>
                                <div style="display: grid;" class="main-post-tab-settings">
                                    <div data-class=".article-text-editor" class="post-type post-type-active">T</div>
                                    <div data-class=".article-html-editor" class="post-type">H</div>
                                    <div data-class=".article-json-editor" class="post-type">JS</div>
                                </div>
                            </div>
                            <div class='main-post-tab'>
                                <div data-num="1" class="main-post-tab-title">Шпаргалка</div>
                                <div class="main-post-tab-settings">бла бла</div>
                            </div>
                            <div class='main-post-tab'>
                                <div data-num="2" class="main-post-tab-title">Журнал изменений</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='main-post-content'>
                    <div class='post-tab-content-1 post-tab-content post-tab-content-actve'>
                        <div class="article-text-editor">
                            <div class="blocks-with-content">
                                {addAfter}
                                {text}
                                {addBefore}
                            </div>
                            {settings}
                        </div>
                        <div style="display: none;" class="article-html-editor">
                            
                        </div>
                        <textarea style="display: none; resize: none; font-size: 20px;" class="inputvs article-json-editor"></textarea>
                    </div>
                    <div class='post-tab-content-2 post-tab-content'>

                    </div>
                    <div class='post-tab-content-3 post-tab-content'>
                        
                    </div>
                </div>
            </div>`
        );
        
        let new_block_content = new VElement(`<div data-block-direction="1" class="new-block">{val}</div>`);

        let new_post = new VElement(
            `<div data-type-post="{type}" data-id-post="{id}" data-art="post-{id}" class="post post-theme">
                <div class="post-img">
                    <div style="background-image: url({img});" class="post-source-img"></div>
                </div>
                <div class="post-about">
                    <div class="post-title">
                        <div class="post-title-text">
                            {title}
                        </div>
                        <div class="post-statistic">
                            <div class="post-view">
                                {price}
                            </div>
                        </div>
                    </div>
                    <div class="post-intro">
                        <div>{intro}</div>
                        <div class="post-buy"></div>
                    </div>
                    <div class="post-users-and-settings">
                        <div class="post-user-create">Vantus</div>
                        <div class="post-data">
                            {data}
                        </div>
                        <div class="post-settings">
                            <div class="post-{confirm}">
                                
                            </div>
                            <div class="post-delete">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>`
        );
        
        let textarea = new VElement(`<textarea onblur="blurTextarea(this)" class="inputvs new-textarea">{text}</textarea>`);
        let addBlock = new VElement(`<div data-add="{where}" class="add-block"></div>`);
        
        function updatePosts(){
            let active_list = V('.article-content-category-list-active');
            let lists = V('.article-content-category-list');
            lists.forEach(element => {
                element.click();
                let nodes = V('.node');
                nodes.get(nodes.count-1).click();
            });
            active_list.click();
        }
        
        function simplify(e = false){
            let elem = V('.new-block-active');
            if(elem.count){
                let parent = elem.parent();
                let children = elem.parent().children();
                if(parent.hasClass('new-block') && children.count == 1){
                    let text = elem.html();
                    elem.remove();
                    parent.html(text);
                }
                children = elem.children();
                let child = elem.children('.new-block')
                if(child.count == 1){
                    let html = child.get(0).html();
                    child.get(0).remove();
                    elem.html(html);
                }
                  
            }
            elem.removeClass('new-block-active');
        }

        function blurTextarea(elem){
            let text = V(elem).val();
            V(elem).parent().html(toHtml(text));
            V(elem).remove();
            simplify();
        }

        let properties = {
            'bc' : 'background-color',
            'background-color' : 'bc',
            'c' : 'color',
            'color' : 'c',
            'href' : 'href',
            'ta' : 'text-align',
            'text-align' : 'ta',
            'fs' : 'font-size',
            'font-size' : 'fs',
        }

        function getStyles(settings){
            if(settings != ''){
                let new_set = settings.split(';');
                let arr = [];
                for(let i of new_set)
                    arr = arr.concat(i.split(':'));
                arr = arr.filter(n => n);
                let props = ''
                for(let i = 0; i < arr.length; i++){
                    props += [properties[arr[i]]] + ':' + arr[i+1] + ';';
                    i++;
                }
                let res = [];
                let num = arr.indexOf('href');
                if(num >= 0){
                    res.push('a href="' + arr[num+1] + '"');
                }
                else{
                    res.push('span');
                }
                res.push(props);
                if(res.length != 0)
                    return res;
            }
            return '';
        }
        
        function getArray(text, k = 0){
            let arr = [];
            let bigstr = '';
            let settings = '';
            for(let i = k; i < text.length; i++){
                if(text[i] == '['){
                    arr.push(i);
                    let new_array = getArray(text, i+1)
                    arr.push(new_array[0]);
                    bigstr += new_array[2];
                    i += new_array[1]+1;
                }
                else if(text[i] == ']'){
                    arr.push(i);
                    let styles = getStyles(settings);
                    if(styles == '')
                        return [arr, i-k, `<span>`+bigstr+`</span>`];
                    else
                        return [arr, i-k, `<${styles[0]} style='${styles[1]}'>`+bigstr+`</${styles[0]}>`];
                }
                else{
                    if(k!=0 && text[i] == '|'){
                        settings = bigstr;
                        bigstr = '';
                    }
                    if(text[i] != '|')
                        bigstr += text[i];
                    if(text.length == i+1){
                        let styles = getStyles(settings);
                        if(styles == '')
                            return [arr, `<span>`+bigstr+`</span>`];
                        else
                            return [arr, `<${styles[0]} style='${styles[1]}'>`+bigstr+`</${styles[0]}>`];
                    }
                }
            }
            return [arr, bigstr];
        }

        function toHtml(text){
            let open = 0;
            let close = 0;
            for(let i = 0; i < text.length; i++){
                if(text[i] == '[')
                    open+=1;
                if(text[i] == ']')
                    close+=1;
            }
            if(open == close){
                let skobki = getArray(text);
                return skobki[skobki.length-1];
            }
            else{
                return text;
            }
        }

        function htmlToJson(elements){
            let json = []
            elements.forEach(element => {
                let tag = element.elem(0).tagName;
                let node = {
                    'tagName': tag == undefined ? '#text' : tag
                };
                if(node['tagName'] == '#text')
                    node['text'] = element.text();
                else{
                    node['atributes'] = {};
                    let attrs = element.allAttr();
                    for(let i of attrs){
                        node['atributes'][i.name] = i.nodeValue;
                    }
                }
                
                let children = element.children('all');
                if(children.count)
                    node['children'] = [];
                    children.forEach(el => {
                        let child = htmlToJson(el);
                        if(child){
                            /*if(child.length == 1)
                                node['children'].push(child[0]);
                            else node['children'].push(child);*/
                            node['children'].push(child);
                        }
                    });
                json.push(node);
            });
            if(json.length == 1)
                return json[0]
            else return json;
        }

        function jsonToHtml(json){
            let elemets = [];
            if(Array.isArray(json)){
                for(let el of json){
                    let elem;
                    if(el['tagName'] == '#text')
                        elem = VantusJS.createElement(el['text']);
                    else{
                        elem = VantusJS.createElement(`<${el['tagName']}></${el['tagName']}>`);
                        if('atributes' in el){
                            for(let key in el['atributes'])
                                elem.attr(key, el['atributes'][key]);
                        }
                    }
                    let mass = [];
                    if('children' in el){
                        if(el['children'].length > 0){
                            mass = jsonToHtml(el['children'])
                        }
                    }
                    
                    for(let key of mass){
                        elem.put(key, 'append');
                    }
                    elemets.push(elem);
                }
            }
            else{
                let elem = VantusJS.createElement(`<${json['tagName']}></${json['tagName']}>`);
                if('atributes' in json){
                    for(let key in json['atributes'])
                        elem.attr(key, json['atributes'][key]);
                }
                let mass = [];
                if('children' in json){
                    if(json['children'].length > 0){
                        mass = jsonToHtml(json['children'])
                    }
                }
                for(let key of mass){
                    elem.put(key, 'append');
                }
                elemets.push(elem);
            }

            return elemets;
        }

        function jsonToText(json){
            let elem = [];
            if(Array.isArray(json)){
                for(let el of json){
                    if(el['tagName'] == '#text')
                        elem.push(el['text']);
                    else{
                        elem.push('[');
                        if('atributes' in el && 'style' in el['atributes']){
                            let styles = getStyles(el['atributes']['style']);
                            elem.push(styles[1] + '|');
                        }
                        if('children' in el){
                            if(el['children'].length > 0){
                                elem.push(jsonToText(el['children']));
                            }
                        }
                        elem.push(']');
                    }
                }
            }
            else{
                if(json['tagName'] == '#text')
                    elem.push(json['text']);
                else{
                    elem.push('[');
                    if('atributes' in json && 'style' in json['atributes']){
                        let styles = getStyles(json['atributes']['style']);
                        elem.push(styles[1] + '|');
                    }
                    if('children' in json){
                        if(json['children'].length > 0){
                            elem.push(jsonToText(json['children']));
                        }
                    }
                    elem.push(']');
                }
            }
            let str = '';
            for(let i of elem)
                str += i;

            return str;
        }

        function newBlock(e, param){
            let elem = V(param);
            let bool = false;
            
            if(!V(e.target).hasClass('new-block') && e.target.tagName != 'TEXTAREA'){
                elem = elem.parent('.new-block');
                bool = true;
            }

            let parent = elem.parent();
            e.defaultPrevented = true;
            if(e.target == param || bool){
                if(!elem.hasClass('new-block-active') || bool){
                    V('.new-block-active').children('.add-block').remove();
                    simplify(e);
                    V('.new-block-active').removeClass('new-block-active');
                    elem.addClass('new-block-active');

                    ////////////////////////////////////////////////////////
                        let types = V('.block-editor-types');
                        let changetype = types.children('.block-direction');
                        changetype.removeClass('block-editor-type-active');
                        let direction = elem.attr('data-block-direction');
                        types.children(`div[data-block-direction="${direction}"]`).addClass('block-editor-type-active');
                    ////////////////////////////////////////////////////////
                        let display = types.children('.block-display');
                        display.removeClass('block-editor-type-active');
                        let istype = elem.css('display');
                        types.children(`div[data-block-display="${istype}"]`).addClass('block-editor-type-active');
                    ////////////////////////////////////////////////////////

                    if(!e.ctrlKey){
                        if(parent.hasClass('new-block') ? parent.children('.new-block').count > 1 : true){
                            if(elem.children('.new-block').count == 0){
                                let val = '';
                                if(elem.html() != ''){
                                    val = elem.html();
                                    elem.html('');
                                }

                                new_block_content.render(elem, 'append', {
                                    val: val
                                });
                            }
                                
                            addBlock.render(elem, 'prepend', {
                                where: 'after'
                            });
                            addBlock.render(elem, 'append', {
                                where: 'before'
                            });
                        }
                        else{
                            simplify();
                            let text = elem.text().trim();
                            elem.text('');
                            textarea.render(elem, 'append', {
                                text: text
                            });
                            elem.children('textarea').elem(0).focus();
                        }
                    }
                    if(e.ctrlKey){
                        if(elem.children('.new-block').count == 0){
                            let text = elem.html().trim();
                            let res = htmlToJson(elem.children());
                            //let html = jsonToHtml(res);
                            let t = jsonToText(res);
                            //console.log(t);
                            //console.log(html[0]);
                            //console.log(JSON.stringify(res, null, 1));
                            elem.html('');
                            
                            textarea.render(elem, 'append', {
                                text: t
                            });
                            elem.children('textarea').elem(0).focus();
                        }
                    }
                }
            }
        }

        V('.article-content-category').event({
            events: ['click'],
            funcs: [
                function(e) {
                    let elem = V(this);
                    elem.children('.toggle-category').toggleClass('toggle-category-open');
                    let next = elem.nextElement();

                    /*if(!V(this).nextElement().hasClass('article-content-category-list-active') && V(this).nextElement().css('display') == 'none'){
                        V('.article-content-category-list-active').removeClass('article-content-category-list-active');
                        V(this).nextElement().addClass('article-content-category-list-active');
                        V('.main-active-path').html(V('.article-content-category-list-active').attr('data-path'));
                    }*/
                    next.toggleShow({
                        speed: 250
                    });
                }
            ]
        });

        V('.nav-items').event({
            events: ['click'],
            funcs: [
                function(e) {
                    let elem = V(this).children('.nav-item-active');
                    let el2 = V(this).children('.nav-item');
                    if(el2.hasClass('nav-item-active-theme')){
                        e.preventDefault();
                        V('article').toggleShow({
                            display: 'grid',
                            direction: 'w',
                            speed: 100
                        });
                        elem.toggleClass('nav-item-active-theme');
                    }
                }
            ]
        });

        V('.main-active-path').event({
            events: ['click'],
            funcs: [
                function(e) {
                    var data = new FormData();
                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);

                    let active_list = V('.article-content-category-list-active');
                    
                    active_list.children().remove();
                    
                    V(this).nextAll().remove();
                    
                    V('.article-content-category-list-active').attr('data-path', V('.main-active-path').html());

                    data.append('id', V(this).attr('data-tree-id').trim());
                    data.append('public', V('.article-content-category-list-active').attr('data-public').trim());

                    let response = fetch('{% url 'ajaxGetDir_url' %}', {
                        method: 'POST',
                        body: data
                    }).then(prom =>{
                        return prom.json();
                    }).then(text => {
                        let options = {
                                    year: 'numeric', month: 'numeric', day: 'numeric',
                                    hour: 'numeric', minute: 'numeric',
                                    hour12: false
                                };
                        for(i of text){
                            let public = i['fields']['public'];
                            let confirm = '';
                            if(public == true)
                                confirm = 'hide';
                            else confirm = 'confirm';
                            console.log(i);
                            new_post.render(active_list, 'append',{
                                img: '/media/' + i['fields']['img'],
                                id: i['pk'],
                                title: i['fields']['title'],
                                type: i['fields']['type'],
                                intro: i['fields']['intro'],
                                data: new Date(i['fields']['creation_data']).toLocaleString('ru-RU', options),
                                confirm: confirm,
                                price: i['fields']['pricedir']
                            });
                        }
                        active_list.prevElement().children('.count').text(text.length);
                    });/**/
                }
            ],
            elements: ['.node'],
            float: true
        });

        V('.main-active-tabs').event({
            events: ['click'],
            funcs: [
                function(){
                    let el = V(this).parent().attr('data-post-art-tab');
                    V('.main-active-tab-theme-active').removeClass('main-active-tab-theme-active');
                    V(this).parent().addClass('main-active-tab-theme-active');
                    V('.main-post-active').removeClass('main-post-active');
                    V(`div[data-post-art-tab-content = "${el}"]`).addClass('main-post-active');
                }
            ],
            elements: ['.main-active-tab-icon', '.main-active-tab-name']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(e) {
                    let postTab = V(this).attr('data-num');
                    let TabsContent = V(this).parent('.main-post').children('.post-tab-content');
                    let active = V(this).parent('.main-post-source-tabs').children('.main-post-tab-title-active');

                    let next = V(this).nextElement();
                    if(!V(this).hasClass('main-post-tab-title-active')){
                        V('.main-post-tab-settings').forEach(element => {
                            if(element.css('display') != 'none')
                                element.hide({
                                    speed: 100,
                                    display: 'none',
                                    direction: 'w'
                                });
                        });
                    }

                    active.removeClass('main-post-tab-title-active');

                    if(next){
                        next.toggleShow({
                            speed: 100,
                            display: 'grid',
                            direction: 'w'
                        });
                    }

                    V(this).addClass('main-post-tab-title-active');

                    V(this).parent('.main-post').children('.post-tab-content-actve').removeClass('post-tab-content-actve');
                    TabsContent.get(postTab).addClass('post-tab-content-actve');
                }
            ],
            elements: ['.main-post-tab-title']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(e) {
                    //alert(0);
                }
            ],
            elements: ['.post-tab-content-1']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(e) {
                    let id = V(this).parent('.main-active-tab').attr('data-post-art-tab');
                    V(this).parent('.main-active-tab').remove();
                    V(`div[data-post-art-tab-content="${id}"]`).remove();
                }
            ],
            elements: ['.main-active-tab-close']
        });
        
        function getJsonPost(){
            let elems = V('.blocks-with-content > .new-block');
            return htmlToJson(elems);
        }

        function jsonLoadPost(text){
            let where = V('.blocks-with-content > div[data-add="before"]');
            let mass = jsonToHtml(JSON.parse(text));
            for(let i of mass)
                where.put(i, 'before');
        }

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(e) {
                    V('.post-type-active').removeClass('post-type-active');
                    V(this).addClass('post-type-active');
                    V(this).parent('.main-post').children('.post-tab-content-1').children().hide();
                    V(this).parent('.main-post').children('.post-tab-content-1').children(V(this).attr('data-class')).show({
                        display: 'grid'
                    });
                    if(V(this).attr('data-class') == '.article-json-editor'){
                        V('.new-block-active').children('.add-block').remove();
                        simplify();
                        V('.new-block-active').removeClass('new-block-active');

                        let jsonobj = getJsonPost();
                        V('.article-json-editor').val(JSON.stringify(jsonobj, null, 1));
                    }
                    if(V(this).attr('data-class') == '.article-text-editor' && V('.article-json-editor').val() != ''){
                        let elems = V('.blocks-with-content > .new-block').remove();
                        let text = V('.article-json-editor').val();

                        jsonLoadPost(text);
                    }
                    if(V(this).attr('data-class') == '.article-html-editor'){
                        V('.new-block-active').children('.add-block').remove();
                        simplify();
                        V('.new-block-active').removeClass('new-block-active');

                        let jsonobj = getJsonPost();
                        let html = jsonToHtml(jsonobj);
                        
                        for(let i in html){
                            if(i==0)
                                V('.article-html-editor').text(html[i].outerHTML());
                            else
                                V('.article-html-editor').text(V('.article-html-editor').text() + html[i].outerHTML());
                        }
                    }
                }
            ],
            elements: ['.post-type']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(e) {
                    let elem = V(this);
                    let id = elem.attr('data-id');
                    let post_info = elem.parent('.main-post').children('.main-post-about');
                    let title = post_info.children('.main-post-title :last-child').text();
                    let price = post_info.children('.main-post-price :last-child').text();
                    let intro = post_info.children('.main-post-intro :last-child').text();

                    var data = new FormData();
                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);
                    data.append('id', id);
                    data.append('text', JSON.stringify(getJsonPost()));
                    data.append('title', title);
                    data.append('intro', intro);
                    data.append('price', price);

                    let response = fetch('{% url 'ajaxSavePost_url' %}', {
                        method: 'POST',
                        body: data
                    });
                }
            ],
            elements: ['.savePost']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(e) {
                    V(this).parent('.main-post-source-tabs').children('.main-post-title-toggle-show').toggleClass('main-post-title-toggle-show-active');

                    V(this).parent('.main-post-info').children('.main-post-about').toggleShow({
                        speed: 250,
                        display: 'grid'
                    });
                }
            ],
            elements: ['.main-post-title-toggle-show', '.main-post-title-toggle-show div']
        });

        V('.article-title-settings-add').event({
            events: ['click'],
            funcs: [
                function(){
                    V('.flow-window').show();
                }
            ]
        });

        V('.flow-window-close').event({
            events: ['click'],
            funcs: [
                function(){
                    V('.flow-window').hide({
                        speed: 250
                    });
                }
            ]
        });

        function viewimage(elem){
            let input = elem;
            if (input.files && input.files[0]) {
                if (input.files[0].type.match('image.*')) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        // V('#newimagepost').css({'background-image': 'url(' + e.target.result + ')'});
                        V(input).prevElement().css({'background-image': 'url(' + e.target.result + ')'});
                    }
                    reader.readAsDataURL(input.files[0]);
                } else {
                    console.error('Ошибка, файл не является изображение!');
                }
            } else {
                console.error('Файл не выбран');
            }
        }

        V('.submitpost').event({
            events: ['click'],
            funcs: [
                function(){
                    var data = new FormData();
                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);

                    let path = V('.node');
                    let count_node = path.count;

                    data.append('parent', path.get(count_node-1).attr('data-tree-id'));
                    data.append('title', V('#posttitle').val());
                    data.append('intro', V('#postintro').val());
                    data.append('type', V('#posttype').val());
                    console.log(V('#postimg').array()[0].files);
                    data.append('img', V('#postimg').array()[0].files[0]);

                    let response = fetch('{% url 'ajaxAddPost_url' %}', {
                        method: 'POST',
                        body: data
                    }).then(prom =>{
                        return prom.text();
                    }).then(data => {
                        alert(data);
                        updatePosts();
                    });
                }
            ]
        });

        V('.article-content-category-list').event({
            events: ['click'],
            funcs: [
                function(e) {
                    V(this).parent('.article-content-category-list').click();
                    if(!V(e.target).hasClass('post-buy') && !V(e.target).hasClass('post-delete') && !V(e.target).hasClass('post-confirm') && !V(e.target).hasClass('post-hide')){
                        let main_elem = V(this).parent('.post');
                        let post = main_elem.attr('data-art');
                        let post_type = main_elem.attr('data-type-post');
                        let id = main_elem.attr('data-id-post');
                        let title = main_elem.children('.post-title-text').text();
                        let img = main_elem.children('.post-source-img').css('background-image');
                        let user = main_elem.children('.post-user-create').text();
                        let intro = main_elem.children('.post-intro').text();
                        let price = main_elem.children('.post-view').text();
                        var data = new FormData();
                        let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                        data.append('csrfmiddlewaretoken', csrf);

                        if(post_type != 'Папка'){
                            data.append('id', id);

                            let response = fetch('{% url 'ajaxGetPostText_url' %}', {
                                method: 'POST',
                                body: data
                            }).then(prom =>{
                                return prom.json();
                            }).then(text => {
                                let main_actve = V(`div[data-post-art-tab="${post}"]`);
                                if(main_actve.count == 0 && 'text' in text){
                                    main_tab.render(V('.main-active-tabs'), 'prepend',{
                                        post: post,
                                        title: title
                                    });
                                    let html = jsonToHtml(JSON.parse(text['text']));
                                    let res = '';
                                    html.forEach(element => {
                                        res += element.outerHTML();
                                    });
                                    if(!('allow' in text))
                                        main_tab_content.render(V('.blog-post'), 'append',{
                                            post: post,
                                            title: title,
                                            img: img,
                                            user: user,
                                            intro: intro,
                                            id: id,
                                            text: res,
                                            settings: '',
                                            changing: ``,
                                            changeImg: ``,
                                            addBefore: ``,
                                            addAfter: ``,
                                            price: price
                                        });
                                    else
                                        main_tab_content.render(V('.blog-post'), 'append',{
                                            post: post,
                                            title: title,
                                            img: img,
                                            user: user,
                                            intro: intro,
                                            id: id,
                                            text: res,
                                            settings: `
                                                <div class="block-editor">
                                                    <div class="block-editor-types">
                                                        <div data-id='${id}' class="savePost block-editor-type block-editor-type-rows">
                                                            <span class="">
                                                                >
                                                            </span>
                                                        </div>
                                                        <div class="separator"></div>
                                                        <div data-block-direction="1" class="block-editor-type block-direction block-editor-type-rows">
                                                            <div class=""></div>
                                                            <div class=""></div>
                                                            <div class=""></div>
                                                        </div>
                                                        <div data-block-direction="2" class="block-editor-type block-direction block-editor-type-columns">
                                                            <div class=""></div>
                                                            <div class=""></div>
                                                            <div class=""></div>
                                                        </div>
                                                    </div>
                                                </div>`,
                                            changing: `<div class="change-post-info">/</div>`,
                                            changeImg: `<input id="postimg" onchange="viewimage(this);" class="inputloadimg" accept="image/*" type="file">`,
                                            addBefore: `<div data-add="before" class="add-block"></div>`,
                                            addAfter: `<div data-add="after" class="add-block"></div>`,
                                            price: price
                                        });
                                }
                                if(!('text' in text))
                                    alert('Данная статья вам недоступна! Необходимо приобрести её!');
                                else if(!(main_actve.count == 0))
                                    alert('Статья уже открыта!');
                            });
                        }
                        else{
                            let list = V(this).parent('.article-content-category-list');
                            list.children().remove();
                            
                            V('.main-active-path').put(`<div class="next-node">></div>`, 'beforeEnd');
                            V('.main-active-path').put(`<div data-tree-id="${id}" class="node">${title}</div>`, 'beforeEnd');

                            V('.article-content-category-list-active').attr('data-path', V('.main-active-path').html());

                            data.append('id', id.trim());
                            data.append('public', V('.article-content-category-list-active').attr('data-public').trim());

                            let response = fetch('{% url 'ajaxGetDir_url' %}', {
                                method: 'POST',
                                body: data
                            }).then(prom =>{
                                return prom.json();
                            }).then(text => {
                                let options = {
                                    year: 'numeric', month: 'numeric', day: 'numeric',
                                    hour: 'numeric', minute: 'numeric',
                                    hour12: false
                                };                          
                                for(i of text){
                                    let public = i['fields']['public'];
                                    let confirm = '';
                                    if(public == true)
                                        confirm = 'hide';
                                    else confirm = 'confirm';
                                    new_post.render(list, 'append',{
                                        img: '/media/' + i['fields']['img'],
                                        id: i['pk'],
                                        title: i['fields']['title'],
                                        type: i['fields']['type'],
                                        intro: i['fields']['intro'],
                                        data: new Date(i['fields']['creation_data']).toLocaleString('ru-RU', options),
                                        confirm: confirm,
                                        price: i['fields']['pricedir']
                                    });
                                }
                                list.prevElement().children('.count').text(text.length);
                            });
                        }
                    }
                }
            ],
            elements: ['.post'],
            float: true
        });

        V('.article-content-category-list').event({
            events: ['click'],
            funcs: [
                function(e){
                    let success = confirm('Удалить?');
                    if(success){
                        let elem = V(this).parent('.post');
                        let id = elem.attr('data-id-post');
                        let data = new FormData();

                        let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                        data.append('csrfmiddlewaretoken', csrf);

                        data.append('id', id);

                        let response = fetch('{% url 'ajaxDeletePost_url' %}', {
                            method: 'POST',
                            body: data
                        }).then(prom =>{
                            return prom.text();
                        }).then(text => {
                            elem.remove();
                        });
                    }
                }
            ],
            elements: ['.post-delete']
        });

        V('.article-content-category-list').event({
            events: ['click'],
            funcs: [
                function(e){
                    if(!V(this).hasClass('article-content-category-list-active')){
                        V('.article-content-category-list-active').removeClass('article-content-category-list-active');
                        V(this).addClass('article-content-category-list-active');
                        V('.main-active-path').html(V('.article-content-category-list-active').attr('data-path'));
                    }
                }
            ]
        });

        V('.article-content-category-list').event({
            events: ['click'],
            funcs: [
                function(e){
                    let elem = V(this).parent('.post');
                    let id = elem.attr('data-id-post');
                    var data = new FormData();

                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);

                    data.append('id', id);

                    let response = fetch('{% url 'ajaxPublicationPost_url' %}', {
                        method: 'POST',
                        body: data
                    }).then(prom =>{
                        return prom.text();
                    }).then(text => {
                        updatePosts();
                    });
                }
            ],
            elements: ['.post-confirm', '.post-hide']
        });

        V('.article-content-category-list').event({
            events: ['click'],
            funcs: [
                function(e){
                    let elem = V(this).parent('.post');
                    let id = elem.attr('data-id-post');
                    let data = new FormData();

                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);

                    data.append('id', id);

                    let response = fetch('{% url 'ajaxAddToBasket_url' %}', {
                        method: 'POST',
                        body: data
                    }).then(prom =>{
                        return prom.text();
                    }).then(text => {
                        alert(text);
                    });
                }
            ],
            elements: ['.post-buy']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(){
                    let where = V(this).attr('data-add');
                    new_block_content.render(V(this), where,{
                        val: ''
                    });
                }
            ],
            elements: ['.add-block']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(e){
                    newBlock(e, this);
                }
            ],
            elements: ['.new-block', 'span']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(){
                    let active_block = V('.new-block-active');
                    if(active_block.count != 0){
                        let types = V('.block-editor-types');
                        let changetype = types.children('.block-direction');
                        changetype.removeClass('block-editor-type-active');
                        let attr = parseInt(V(this).attr('data-block-direction'));
                        V(this).addClass('block-editor-type-active');

                        if(attr == 1){
                            active_block.removeClass('new-block-row');
                        }
                        else if(attr == 2){
                            active_block.addClass('new-block-row');
                        }

                        active_block.attr('data-block-type', attr);
                    }
                }
            ],
            elements: ['.block-direction']
        });

        V('.blog-post').event({
            events: ['click'],
            funcs: [
                function(){
                    let input = V(this).nextElement();
                    let text = input.nextElement();
                    if(input.css('display') == 'none'){
                        input.val(text.text().trim());
                        input.show();
                        text.hide();
                    }
                    else{
                        text.text(input.val().trim());
                        input.hide();
                        text.show();
                    }
                    
                }
            ],
            elements: ['.change-post-info']
        });
    </script>
{% endblock script %}