{% extends 'base/main.html' %}

{% block main %}
    {% load images %}
    {% load static %}
    <div class="user-info">
        <div class="user-image">
            <label class="loadimg lnewdata">
                {% if user.img != '' %}
                    <img id="newimagepost" src="{{ user.img.url }}" class="viewloadimg"></img>
                {% else %}
                    <img id="newimagepost" src="../media/images/people.png" class="viewloadimg"></img>
                {% endif %}
                <input class="inputloadimg" accept="image/*" type="file">
                
            </label>
        </div>
        <div class="user-data">
            <div class="user-who">
                <div class="user-name">
                    {{ user.nickname }}
                </div>
                <div class="user-online">
                    online
                </div>
            </div>
            <div class="user-status user-status-theme">
                <span class="user-status-text">{{ user.minitag }}</span>
                <div style="display: none;" class='user-change-status'>
                    <input style="margin-bottom: 5px;" placeholder="Статус" class="inputvs" type='text'>
                    <button class="goformsubmit user-change-status-btn">Изменить</button>
                </div>
            </div>
            <div class="user-hr"></div>
            <div class="user-dict">
                <div class="user-dict-key">Email:</div>
                <div class="user-dict-value">{{ user.email }}</div>
                <div class="user-dict-key">Дата создания:</div>
                <div class="user-dict-value">{{ user.time }}</div>
                <div class="user-dict-key">Доступные роли =></div>
                <div class="user-dict-value">
                    <div>{ 
                        <span class="more-roles">...</span>
                        <div class="user-roles">
                            {% for role in roles.all %}
                                <div class="user-role">role</div>
                            {% endfor %}
                        </div>   
                    }</div>
                </div>
                <div class="user-dict-key">Пароль:</div>
                <div class="user-dict-value">
                    <div class="user-change-pass" href="">Изменить</div>
                    <div style="display: none;" class='user-change-status'>
                        <div class="user-dict-value">Старый пароль</div>
                        <input id="password" style="margin-bottom: 5px;" placeholder="Пароль" class="inputvs" type='text'>
                        <div class="user-dict-value">Новый пароль</div>
                        <input id="newpassword" style="margin-bottom: 5px;" placeholder="Пароль" class="inputvs" type='text'>
                        <button class="goformsubmit user-change-pass-btn">Изменить</button>
                        <button class="goformsubmit user-change-pass-cancel-btn">Отмена</button>
                    </div>
                </div>
            </div>
            <div class="user-hr"></div>
            <div class="user-own">
                <div class="user-own-block">
                    <div class="user-own-block-count">
                        10
                    </div>
                    <div class="user-own-block-name">
                        друзей
                    </div>
                </div>
                <div class="user-own-block">
                    <div class="user-own-block-count">
                        30
                    </div>
                    <div class="user-own-block-name">
                        постов
                    </div>
                </div>
                <div class="user-own-block">
                    <div class="user-own-block-count">
                        100
                    </div>
                    <div class="user-own-block-name">
                        проектов
                    </div>
                </div>
                <div class="user-own-block">
                    <div class="user-own-block-count">
                        25
                    </div>
                    <div class="user-own-block-name">
                        сборок
                    </div>
                </div>
                <a href="" class="user-own-block">
                    <div class="user-own-block-count">
                        42
                    </div>
                    <div class="user-own-block-name">
                        файлы
                    </div>
                </a>
                <a href="{% url 'images_url' %}" class="user-own-block">
                    <div class="user-own-block-count">
                        {{ user|images|length }}
                    </div>
                    <div class="user-own-block-name">
                        картинки
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% comment %} <div class="user-settings">
    
    </div> {% endcomment %}
{% endblock main %}

{% block script %}
    <script>
        V('.user-change-pass').event({
            events: ['click'],
            funcs: [
                function(e){
                    V(this).hide();
                    V(this).nextElement().show({
                        speed: 250
                    });
                }
            ]
        });

        V('.user-change-pass-btn').event({
            events: ['click'],
            funcs: [
                function(e){
                    var data = new FormData();
                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);
                    data.append('password', V('#password').val());
                    data.append('newpassword', V('#newpassword').val());

                    let response = fetch('{% url 'ajaxChangePass_url' %}', {
                        method: 'POST',
                        body: data
                    }).then(prom =>{
                        return prom.text();
                    }).then(data => {
                        if(data == 'Готово!'){
                            V(this).parent().hide({
                                speed: 250
                            });
                            V(this).parent().prevElement().show();
                        }
                        alert(data);
                    });
                }
            ]
        });

        V('.user-change-pass-cancel-btn').event({
            events: ['click'],
            funcs: [
                function(e){
                    V(this).parent().hide({
                        speed: 250
                    }).then(() => {
                        V(this).parent().prevElement().show();
                    });
                }
            ]
        });

        V('.user-status').event({
            events: ['click'],
            funcs: [
                function(e){
                    let elem = V(this);
                    if(elem.hasClass('user-status-theme') && e.target == this){
                        elem.toggleClass('user-status-theme');
                        let statustext = elem.children('.user-status-text');
                        let statusinput = elem.children('.user-change-status');
                        statustext.hide();
                        statusinput.children('input').val(statustext.text());
                        statusinput.show();
                    }
                }
            ]
        });

        V('.user-status-text').event({
            events: ['click'],
            funcs: [
                function(e){
                    let elem = V(this).parent('.user-status');
                    if(elem.hasClass('user-status-theme') && e.target == this){
                        elem.toggleClass('user-status-theme');
                        let statustext = elem.children('.user-status-text');
                        let statusinput = elem.children('.user-change-status');
                        statustext.hide();
                        statusinput.children('input').val(statustext.text());
                        statusinput.show();
                    }
                }
            ]
        });

        V('.user-change-status-btn').event({
            events: ['click'],
            funcs: [
                function(e){
                    e.preventDefault();
                    let elem = V(this).parent('.user-status');
                    elem.toggleClass('user-status-theme');
                    let statustext = elem.children('.user-status-text');
                    let statusinput = elem.children('.user-change-status');
                    statustext.show();
                    statustext.text(statusinput.children('input').val());
                    statusinput.hide();
                    
                    var data = new FormData();
                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);
                    data.append('minitag', statusinput.children('input').val());

                    let response = fetch('{% url 'ajaxChangeMiniTag_url' %}', {
                        method: 'POST',
                        body: data
                    });
                }
            ]
        });

        V('.user-own-block-count').forEach(element => {
            let count = element.text();
            let second = 2000 / count;
            for(let i = 0; i <= count; i++){
                setTimeout(() => {
                    element.text(i);
                }, i * second);
            }
        });

        V('.more-roles').event({
            events: ['click'],
            funcs: [
                function(){ 
                    V('.user-roles').toggleShow({
                        speed: 250
                    });
                },
            ]
        });

        V(".inputloadimg").event({
            events: ['change'],
            funcs: [
                function(){
                    var input = this;
                    if (input.files && input.files[0]) {
                        if (input.files[0].type.match('image.*')) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                V('#newimagepost').attr('src', e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                        } else {
                            console.error('Ошибка, файл не является изображение!');
                        }
                    } else {
                        console.error('Файл не выбран');
                    }
                },
            ]
        });
    </script>
{% endblock script %}