{% extends 'base/main.html' %}

{% block main %}
    <div class="userforms">
        <div class="inputform">
            <h2 class="input-text">Регистрация</h2>
            <label class="lnewdata">
                <p class="newdata">Логин</p>
                <input id="nickname" class="inputvs" placeholder="Введите данные" type="text">
            </label>
            <label class="lnewdata">
                <p class="newdata">Email</p>
                <input id="email" class="inputvs" placeholder="Введите данные" type="text">
            </label>
            <label class="lnewdata">
                <p class="newdata">Пароль</p>
                <input id="pass" class="inputvs" placeholder="Введите данные" type="text">
            </label>
            <label class="lnewdata">
                <p class="newdata">Подтверждение пароля</p>
                <input id="confirmpass" class="inputvs" placeholder="Введите данные" type="text">
            </label>
            <div class='formsubmit'>
                <a class="authandreg" href="{% url 'user_url' %}">Вход</a>
                <button class="goformsubmit">Регистрация</button>
            </div>
        </div>
    </div>
{% endblock main %}

{% block script %}
    <script>
        V('header, section').event({
            events: ['mousewheel'],
            funcs: [
                function(e) {
                    console.log(e);
                    if(e.ctrlKey)
                        e.preventDefault();
                }
            ]
        });

        V('.goformsubmit').event({
            events: ['click'],
            funcs: [
                function(e) {
                    var data = new FormData();
                    let csrf = V('input[name="csrfmiddlewaretoken"]').val();
                    data.append('csrfmiddlewaretoken', csrf);
                    
                    data.append('nickname', V('#nickname').val());
                    data.append('email', V('#email').val());
                    data.append('password', V('#pass').val());
                    data.append('confirmpass', V('#confirmpass').val());
                    
                    let response = fetch('{% url 'ajaxRegistration_url' %}', {
                        method: 'POST',
                        body: data
                    }).then(prom =>{
                        return prom.text();
                    }).then(data => {
                            alert(data);
                            //document.location.reload(true);
                    });/**/
                }
            ]
        });
    </script>
{% endblock script %}